<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"/>
    <title> User </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
        <div class="dashboard-sidebar fl-wrap">
            <div class="dashboard-sidebar">
                <div class="dashboard-sidebar-content fl-wrap" style="background: skyblue">
                    <div class="dashboard-avtar">
                        <img th:src="${user.imageUrl}" alt="John" style="width: 100%" th:if="${user.imageUrl!=null}" />
                        <img src="/home/qtpl0046/Downloads/eagle.jpeg" th:if="${user.imageUrl}" />
                    </div>
                    <div class="dashboard-sidebar-item fl-wrap">
                        <h3>
                            <span>Welcome</span>
                        </h3>
                        <h3 th:text="${user.firstName+' '+user.lastName}"></h3>
                    </div>
                    <a th:href="@{'/'}" class="log-out-btn color-bg" style="background: rosybrown">LogOut</a>
            </div>

            </div>
        </div>
</div>
</body>
</html>